body {
  margin: 0 auto; }

div.section-1, footer div.wrap {
  padding: 0% 12.5% 0% 12.5%;
  clear: both; }

div.section-1 article h2, div.section-1 aside h2, div.section-2 div.box h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2.1em; }
div.section-1 article hr, div.section-1 aside hr, div.section-2 div.box hr {
  opacity: 0.25;
  width: 95%;
  margin-left: 0; }
div.section-1 article p, div.section-1 aside p, div.section-2 div.box p, div.section-1 article span, div.section-1 aside span, div.section-2 div.box span {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-family: sans-serif;
  opacity: 0.85;
  line-height: 1.5em; }

/*@if ($bgColor == red, black, blue){
     nav{background-color: lighten($bgColor, 16%) ;} 
 } @else{
     nav{background-color: $bgColor;} 
 }*/
nav {
  background-color: #222222;
  width: 100%;
  z-index: 2;
  position: fixed; }
  nav div.nav-limit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 55px;
    margin: auto; }
    nav div.nav-limit span.logo {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 22px;
      color: white;
      /*position: relative;
      top: 15px;*/ }
    nav div.nav-limit div.btn-menu-svg {
      display: none; }
    nav div.nav-limit ul li {
      display: inline;
      line-height: 0; }
      nav div.nav-limit ul li a {
        line-height: 0;
        text-decoration: none;
        margin: 0 10px 0 0;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 15px;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.75); }
        nav div.nav-limit ul li a.active {
          color: white; }
        nav div.nav-limit ul li a:hover, nav div.nav-limit ul li a:focus {
          color: rgba(255, 255, 255, 0.9); }
  nav ul.menu-mobile {
    display: none; }

/*@media only screen and (min-width:600px) and (max-width: 900px){
    div.btn-menu-svg{  
        display: none;
        float: right;
        padding: 10px 12px 6px 12px;
        margin-top: 10px;
        margin-right: 25px;
        border:1px solid #333;
        border-radius: 50px;
        &:hover{
            background-color: lighten(#151515, 15%);
        }
        
    }
}*/
@media only screen and (max-width: 600px) {
  nav div.nav-limit {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav div.nav-limit div.btn-menu-svg {
      display: block;
      padding: 5px 6px 2px 6px;
      border-radius: 5px;
      border: 1px solid #272727; }
      nav div.nav-limit div.btn-menu-svg:focus {
        background-color: #2f2f2f; }
    nav div.nav-limit span.logo {
      position: relative;
      top: 0px; }
    nav div.nav-limit ul {
      display: none; }
  nav ul.menu-mobile {
    padding: 0;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none; }
    nav ul.menu-mobile li a {
      line-height: 0;
      text-decoration: none;
      margin: 0 10px 0 0;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 15px;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.75); }
      nav ul.menu-mobile li a.active {
        color: white; }
      nav ul.menu-mobile li a:hover, nav ul.menu-mobile li a:focus {
        color: rgba(255, 255, 255, 0.9); } }
header {
  background-color: green;
  width: 100%;
  margin: auto;
  min-height: 385px; }
  header div.wrap {
    width: 75%;
    margin: auto;
    padding-top: 80px; }
    header div.wrap h1 {
      margin-top: 1em;
      color: white;
      /*margin: auto;*/
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 3.5em; }
    header div.wrap p {
      line-height: 1.5em;
      color: rgba(255, 255, 255, 0.7);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 18px; }

div.section-1 {
  clear: both; }
  div.section-1 article {
    float: left;
    padding: 2% 1% 5% 0%;
    width: 60%; }
    div.section-1 article a {
      text-decoration: none;
      background-color: green;
      color: white;
      padding: 2%;
      border-radius: 5px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      font-size: 18px; }
      div.section-1 article a:hover {
        background-color: #006700; }
  div.section-1 aside {
    padding: 2% 1% 5% 0%;
    width: 30%;
    float: right; }
    div.section-1 aside a {
      text-decoration: none;
      color: green; }

@media only screen and (max-width: 512px) {
  div.section-1 {
    display: flex;
    flex-flow: column wrap; }
    div.section-1 article {
      width: 100%; }
    div.section-1 aside {
      width: 100%; } }
div.section-2 {
  clear: both;
  display: flex;
  justify-content: space-around;
  padding: 0 11.5% 0 11.5%; }
  div.section-2 div.box {
    margin-right: 2.15%;
    border: 1px solid silver;
    border-radius: 5px; }
    div.section-2 div.box div.bg {
      width: 100%;
      height: 200px;
      background-color: silver;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    div.section-2 div.box div.text {
      padding: 2% 6% 2% 6%; }
    div.section-2 div.box h3 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1.3em;
      margin-left: 1%; }
    div.section-2 div.box div.btn {
      padding: 6%;
      border-top: 1px solid silver;
      background-color: #f8f8f8; }
      div.section-2 div.box div.btn a {
        text-decoration: none;
        background-color: green;
        color: white;
        padding: 3%;
        border-radius: 3px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 16px; }
        div.section-2 div.box div.btn a:hover {
          background-color: #006700; }

@media only screen and (min-width: 512px) and (max-width: 900px) {
  div.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between; }
    div.section-2 div.box {
      width: 46.5%;
      margin-top: 5%; }
      div.section-2 div.box:nth-child(3), div.section-2 div.box:nth-child(4) {
        margin-top: 8%; } }
@media only screen and (max-width: 512px) {
  div.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between; }
    div.section-2 div.box {
      width: 93%;
      margin-top: 8%; } }
footer {
  background-color: #343A40;
  float: left;
  width: 100%;
  margin-top: 4%; }
  footer div.wrap {
    padding: 4%; }
    footer div.wrap span {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: white;
      margin-top: 50%; }

/*# sourceMappingURL=main.css.map */
