@mixin footer{
    footer{
        background-color: #343A40;
        //padding: 5%;
        float: left;
        //@extend %spacinWarp;
        width: 100%;
        margin-top:4%;
        
       div.wrap{
            @extend %spacinWarp;
            padding: 4%;
            span{
                @include fontSans(16px,300);
                color: white;
                margin-top: 50%;
            }
        }
    }
}