@mixin nav($bgColor, $colortext:white){
   $lightColors: (red, black, blue );
   /*@if ($bgColor == #{$lightColors}){
        nav{background-color: lighten($bgColor, 16%) ;} 
    } @else{
        nav{background-color: $bgColor;} 
    }*/
    nav{   
        background-color: lighten($color: $bgColor, $amount: 5%);
        width: 100%;
        z-index: 2;
        position: fixed;
        //background-color: $bgColor;
        div.nav-limit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            height: 55px;
            margin: auto;
            span.logo{
                @include fontSans(22px);
                color: $colortext;
                /*position: relative;
                top: 15px;*/
            }
            div.btn-menu-svg{  
                display: none;
                
            }
            ul{
                li{
                    display: inline;
                    line-height: 0;
                    a{
                        @include menuLink($colortext);
                    }
                }
            }
            
        }
        ul.menu-mobile{
            display: none;
        }
    }
    /*@media only screen and (min-width:600px) and (max-width: 900px){
        div.btn-menu-svg{  
            display: none;
            float: right;
            padding: 10px 12px 6px 12px;
            margin-top: 10px;
            margin-right: 25px;
            border:1px solid #333;
            border-radius: 50px;
            &:hover{
                background-color: lighten(#151515, 15%);
            }
            
        }
    }*/
    @media only screen and (max-width:600px){
        nav{
            div.nav-limit{
                display: flex;
                justify-content: space-between;
                align-items: center;
                div.btn-menu-svg{
                    display: block;
                    //padding:1.5% 2% 0.5% 1.7%;
                    padding: 5px 6px 2px 6px;
                    border-radius: 5px;
                    border: 1px solid lighten($bgColor, 7%);
                    &:focus{
                        background-color: lighten($bgColor, 10%);
                        
                    }
                    
                }
                span.logo{
                    position: relative;
                    top: 0px;
                }
                ul{
                    display: none;
                }
                
            }
            ul.menu-mobile{
                padding:0; 
                display: none;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                list-style: none;
                li{
                    a{
                        @include menuLink($colortext);
                    }
                }
                
            }
               
        }     
    }
}