@mixin nav($bgColor, $colortext:white){
    $lightColors: (red, black, blue );
    @if ($bgColor == #{$lightColors}){
        nav{background-color: lighten($bgColor, 16%) ;} 
    } @else{
        nav{background-color: $bgColor;} 
    }
    nav{   
        
        width: 100%;
        z-index: 2;
        position: fixed;
        //background-color: $bgColor;
        div.nav-limit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            height: 55px;
            margin: auto;
            span.logo{
                @include fontSans(22px);
                color: $colortext;
                /*position: relative;
                top: 15px;*/
            }
            div.btn-menu-svg{  
                display: none;
                
            }
            ul{
                li{
                    display: inline;
                    line-height: 0;
                    a{
                        line-height: 0;
                        text-decoration: none;
                        margin: 0 10px 0 0;
                        @include fontSans(15px);
                        text-transform: capitalize;
                        color: change-color($color : $colortext, $alpha: 0.75);
                        &#active{
                            color: $colortext;
                        }
                        &:hover, &:focus{
                            color:change-color($color : $colortext, $alpha: 0.9);
                        }
                    }
                }
            }
            
        }
    }
    @media only screen and (min-width:600px) and (max-width: 900px){
        div.btn-menu-svg{  
            display: none;
            float: right;
            padding: 10px 12px 6px 12px;
            margin-top: 10px;
            margin-right: 25px;
            border:1px solid #333;
            border-radius: 3px;
            &:hover{
                background-color: lighten(#151515, 15%);
            }
            
        }
    }
    @media only screen and (max-width:600px){
        div.nav-limit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div.btn-menu-svg{
                display: block;
            }
            span.logo{
                position: relative;
                top: 0px;
            }
            ul{
                display: none;
            }
        }   
    }  
}